
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$fp2web-primary: mat.define-palette(mat.$indigo-palette);
$fp2web-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$fp2web-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$fp2web-theme: mat.define-light-theme((
  color: (
    primary: $fp2web-primary,
    accent: $fp2web-accent,
    warn: $fp2web-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($fp2web-theme);

// FONTS

@font-face {
  font-family: 'copperplate_gothic_lightRg';
  src: url('/assets/fonts/coprgtl-webfont.woff2') format('woff2'),
       url('/assets/fonts/coprgtl-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


/* You can add global styles to this file, and also import other style files */
:root {
  --font-clr: #737780;
  --active-font-clr: #D5DCE6;
  --highlight-bg : #182835;
  --highlight-clr:  #737780;
  --navbar-bg: #01161D;
  --backgroud-clr: #182835;
  --unused: #1C2E38;
  --title-font: "copperplate_gothic_lightRg", serif;
}


html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  min-width: 100%;
  min-height: 100vh;
  background-color: var(--backgroud-clr);
  color: var(--font-clr);
  display: grid;
}

h1, h2, h3 {
  font-family: var(--title-font);
  font-weight: 400;
  margin: .5em 0;
}

label, p {
  margin: 0;
}

h1 {
  color: #a38c66;
}

h1.title {
  text-align: center;
  filter: drop-shadow(2px 2px 4px black);
  margin-top: 0;
}

body {
  // background-image: url(/assets/bg3.jpg);
  background-image: url(/assets/bg/background-3.webp);
  background-size: cover;
}

main {
  overflow: hidden;
  display: grid;
}

hr {
  border-color: #9C6E4D;
  border-width: 1px;
  filter: drop-shadow(1px 1px 2px black);
  margin-bottom: 1.5em;
  width: 100%;
}

hr::before, 
hr::after {
  content: '';
  height: 5px;
  width: 5px;
  background-color: #9C6E4D;
  transform: rotate(45deg);
}


/* Utility */
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,.7);
}

/* spacer text */

.lined {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0.5em;

  .spacer {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    align-self: end;
    justify-self: end;
    width: 100%;
  }

  h1, h2, h3, h4, h5, p {
    margin: 0;
  }
}

.lined-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* HOME */

app-home-page {
  min-width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr auto;

  aside {
    background-color: var(--navbar-bg);
    color: var(--font-clr);
    display: flex;
    flex-direction: row;
    margin-right: 8px;

    ul {
      width: 50px;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 0.2em;
      align-items: center;
      padding: 0;
    }

    li {
      margin: 0;
      padding: 7px;
      border-radius: 5px;
      cursor: pointer;
    }
    
    li.active,
    li:hover {
      background-color: var(--highlight-bg);
      color: var(--active-font-clr);
    }

    .aside-contents {
      width: 400px;
    }
  }

  .tab {
    padding: 5px;
    display: grid;
    gap: 0.2em;
    font-size: 20pt;
    font-family: var(--title-font);
    grid-template-columns: auto 1fr auto;
  }

  .tab.active {
    background-color: green;
  }

  .mdc-tab {
      min-width: 40px !important;
      padding-right: 5px !important;
      padding-left: 12px !important;
      display: flex;
      flex: 1 0 auto;
      justify-content: center;
      box-sizing: border-box;
      margin: 0;
      padding-top: 0;
      padding-bottom: 0;
      border: none;
      outline: none;
      text-align: center;
      white-space: nowrap;
      cursor: pointer;
      -webkit-appearance: none;
      z-index: 1;
      background-color: black !important;
      margin-top: 3px !important;
      margin-right: 3px !important;
      clip-path: polygon(0 0,calc(100% - 20.00px) 0,100% 20.00px,100% 100%,0 100%)!important;
  }

  main {
    position: relative;
  }
}

.inset {
  position: absolute;
  inset: 0;
}

app-message-center {
  min-width: 400px;
  background-color: var(--navbar-bg);
  color: var(--font-clr);
  padding: 3px;
}

/* Dialog */
.bottom-buttons {
  margin-top: auto;
  height: 2em;
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: center;
  align-items: stretch;

  button {
    min-width: 150px;
  }
}

/* Forms */
.form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  label {

  }

  input {
    font-size: 14pt;
    background-color: rgb(10 10 10/ 10%);
    color: whitesmoke;
    outline: 0;
    border: 1px solid #83603f;
    padding: .25em .5em;
    border-radius: 5px;
    filter: drop-shadow(1px 1px 2px black);
    border: 1px solid darkslategrey;
  }

  .radios {
    display: flex;
    gap: 0.5em;
    align-items: center;
  }

  .radio {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 600px) {
  
}

@media screen and (min-width: 1800px) {

}

app-home-tabs {
  --mdc-tab-indicator-active-indicator-color: yellow;

  
  .mdc-tab {
    min-width: 40px !important;
    padding-right: 5px !important;
    padding-left: 12px !important;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    outline: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: none;
    z-index: 1;
    background-color: #4e3726 !important;
    margin-top: 3px !important;
    margin-right: 3px !important;
    clip-path: polygon(0 0,calc(100% - 20.00px) 0,100% 20.00px,100% 100%,0 100%)!important;
  }

  .tab {
    padding: 5px;
    display: grid;
    gap: 0.2em;
    font-size: 20pt;
    font-family: var(--title-font);
    grid-template-columns: auto 1fr auto;
    color: whitesmoke;
  }
}

/* MISC */
img.imgfill{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

app-frame3 {
  button {
    min-width: 64px;
    filter: drop-shadow(1px 1px 2px black);
    border-radius: 1000px;
    text-align: center;
    cursor: pointer;
    background-color: #4E3726;
    color: #F0D1AF;
    padding: 0 1.5em;
    outline: 0;
    border: 0;
  }

  button.secondary {
    background-color: #3E3C3F;
  }

  .form input {
    font-size: 15pt;
    padding: .5em;
    font-family: var(--title-font);
  }

  .form label {
    margin-top: .5em;
  }
}



// mat-icon
// {
//     // width: 100px !important;
//     // height: 100px !important;

//     display: flex;
//     flex-shrink: 0;
//     justify-content: center;

//     & ::ng-deep svg
//     {
//         align-self: center;
//         object-fit: contain;
//     }

//     &.shrink-90 ::ng-deep svg
//     {
//         width: 90%;
//         height: 90%;
//     }

//     &.shrink-80 ::ng-deep svg
//     {
//         width: 80%;
//         height: 80%;
//     }
// }