<mat-tab-group [mat-stretch-tabs]="false">
    <mat-tab>
        <ng-template mat-tab-label>
            <div>
                <mat-icon svgIcon="game-ui-weapon"></mat-icon>
            </div>
        </ng-template>
        <div>
            <!-- Ref Area -->
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <div>
                <mat-icon svgIcon="body-armor"></mat-icon>
            </div>
        </ng-template>
        <div>
            <!-- Ref Area -->
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div>
                <mat-icon svgIcon="item-crystal"></mat-icon>
            </div>
        </ng-template>
        <div>
            <!-- Ref Area -->
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div>
                <mat-icon svgIcon="skill-spell-book"></mat-icon>
            </div>
        </ng-template>
        <div>
            <!-- Ref Area -->
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div>
                <mat-icon svgIcon="item-big-potion"></mat-icon>
            </div>
        </ng-template>
        <div>
            <!-- Ref Area -->
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div>
                <mat-icon svgIcon="item-treasure-chest"></mat-icon>
            </div>
        </ng-template>
        <div>
            <!-- Ref Area -->
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div>
                <mat-icon svgIcon="dragon"></mat-icon>
            </div>
        </ng-template>
        <div>
            <!-- Ref Area -->
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div>
                <mat-icon svgIcon="wizard"></mat-icon>
            </div>
        </ng-template>
        <div>
            <!-- Ref Area -->
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div>
                <mat-icon svgIcon="effect-sparkle"></mat-icon>
            </div>
        </ng-template>
        <div>
            <!-- Ref Area -->
        </div>
    </mat-tab>
</mat-tab-group>